<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.inspirational.koreaSiGuDong.KoreaSiGuDongDAO">
	<select id="selectAll"
		resultType="com.inspirational.koreaSiGuDong.KoreaSiGuDong">
		select
		*
		from
		`korea_sigudong`
	</select>
	<select id="selectById"
		resultType="com.inspirational.koreaSiGuDong.KoreaSiGuDong">
		select
		*
		from
		`korea_sigudong`
		where
		id = #{id}
	</select>
	<select id="selectBySi"
		resultType="com.inspirational.koreaSiGuDong.KoreaSiGuDong">
		select
		*
		from
		`korea_sigudong`
		where
		si = #{si}
	</select>
	<select id="selectBySiAndGu"
		resultType="com.inspirational.koreaSiGuDong.KoreaSiGuDong">
		select
		*
		from
		`korea_sigudong`
		where
		si = #{si} and
		gu = #{gu}
	</select>
	
	<select id="selectBySiAndGuAndDong"
		resultType="com.inspirational.koreaSiGuDong.KoreaSiGuDong">
		select
		*
		from
		`korea_sigudong`
		where
		si = #{si} and
		gu = #{gu} and
		dong = #{dong}
	</select>
	
	<select id="selectDistinctSi" resultType="String">
		select
		distinct `si`
		from
		`korea_sigudong`
	</select>
	
	<select id="selectDistinctGuwhereSi" resultType="String">
		select
		distinct `gu`
		from
		`korea_sigudong`
		where
		si = #{si}
	</select>
	
	<select id="selectDistinctDongwhereSiAndGu" resultType="String">
		select
		distinct `dong`
		from
		`korea_sigudong`
		where
		si = #{si}
		and
		gu = #{gu}
	</select>
</mapper>